<footer>
    <div class="footer-mailchimp">
        
    </div>
    <div class="footer-social">
        <div class="container text-center">
            
            <a href="/">HOME</a> |
            
            <a href="/features">FEATURES</a> |
            
            <a href="/faq">FAQ</a> |
            
            <a href="/rates">RATES</a>
            
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            
            <a class="navbar-brand" href="/">
                <img src="/img/kosmos.svg" width="60" height="60" alt="">© Kosmos Mobile | 2017  
            </a>
        </div>
    </div>
</footer>